tensorflow==2.5.0
keras==2.5.0rc0
protobuf==3.20.0
pandas==1.4.4
opencv-contrib-python-headless==4.7.0.72
opencv-python==4.6.0.66
pillow==10.0.1
scikit-learn==1.1.1
xgboost==2.0.3
lightgbm==3.2.1
joblib==1.2.0
pathlib==1.0.1
pytest==8.1.1
pytest-shutil==1.7.0
glob2==0.7
matplotlib-inline==0.1.6
numpy
scipy
scikit-image
matplotlib
